body,
html {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	color: #FFFFFF;
}
// @font-face {
// 	font-family: 'MFFangHei';
// 	src: url('../fonts/造字工房映力黑规体.otf');
// 	font-display: swap;
// }
// @font-face {
// 	font-family: 'YOURNAMED7HOMEHALF';
// 	src: url('../fonts/YOURNAMED7HOMEHALF.TTF');
// 	font-display: swap;
// }
@mixin DisFlex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.app {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.shade{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #013080;
	z-index: 99;
}
.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 2.5rem;
	height: 0.8rem;
	border-radius: 0.15rem;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 999;
	font-size: 0.25rem;
	text-align: center;
	line-height: 0.8rem;
}

.hello-word{
	font-size: 50px;
	color: black;
}