.clear {
	width: 0;
	height: 0;
	visibility: hidden;
	clear: both;
}

.clearFix::after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	visibility: hidden;
	clear: both;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.fx1 {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}


.anim {
	transform: scale(1) rotateY(0deg) rotateX(0deg);
	position: absolute;
	left: -.225rem;
	top: -.225rem;
	width: .45rem;
	height: .45rem;
	pointer-events: none;
	z-index: 10;
}

.host_1,
.host_2,
.host_3,
.host_4,
.host_5,
.host_6 {
	height: .45rem !important;
	left: -.215rem !important;
	top: -.205rem !important;
	width: .45rem !important;
}
.line{
	position: absolute;
	left: .28rem;
	bottom: .36rem;
	z-index: 999;
	width: 0px;
	height: .44rem;
	pointer-events: all;
}
.line_sp {
	background-image: url(../myprivate/line_sp.png);
	background-repeat: no-repeat;
	background-size: .87rem .44rem;
}
.line_sm {

	background-image: url(../myprivate/line_sm.png);
	background-repeat: no-repeat;
	background-size: .87rem .44rem;
}
.line_si {
	background-image: url(../myprivate/line_si.png);
	background-repeat: no-repeat;
	background-size: .87rem .44rem;
}
.line_d{
	position: absolute;
	z-index: 9999;
	top: 0;
	right: 0;
	width: 1px;
	height: 1px;

}
.list{
	transform: scale(1) rotateY(0deg) rotateX(0deg) translate(-50%);
	position: absolute;
	left: -.25rem;
	top: 0;
	z-index: 9999;
	width: 2.28rem;
	color: beige;
	overflow: hidden;
	pointer-events: all;
	display: none;
	padding: 10px 0 15px 0;
}
.list_sp {
	background-image: url(../myprivate/modo_sp.png);
	background-repeat:no-repeat ;
	background-size: 100% 100%;
}
.list_sm {
	background-image: url(../myprivate/modo_sm.png);
	background-repeat:no-repeat ;
	background-size: 100% 100%;
}
.list_si {
	background-image: url(../myprivate/modo_si.png);
	background-repeat:no-repeat ;
	background-size: 100% 100%;
}
.list ul {
	width: 100%;
	max-height: 2.1rem;
	overflow-y: scroll;
	scrollbar-width: none;
	/* firefox */
	-ms-overflow-style: none;
	/* IE 10+ */
}

.list ul::-webkit-scrollbar {
	display: none;
	/* Chrome Safari */
}

.list ul li {
	width: 100%;
	color: #bfbfbf;
	font-size: .27rem;
	text-align: center;
	height: .5rem;
	line-height: .5rem;
	cursor: pointer;
	font-family: "思源黑体 CN";
}

.list_child_color_sp {
	color: #83BAFF!important;
}
.list_child_color_sm {
	color: #83E3FF!important;
}
.list_child_color_si {
	color: #83A3FF!important;
}
.loding {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 9999999;
	background-color: rgba(0, 0, 0, 0);
	top: 0;
	left: 0;
}

.item {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;

}

.la-ball-grid-beat {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
